@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto:wght@700&family=Rubik:wght@600&family=Shadows+Into+Light&display=swap');
 
 body{
    margin: 0;
    padding: 0;
 } 

.header{
    background-color: rgb(227, 227, 64);
    margin-top: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}
#txt-input{
    width: 35%;
    display: block;
    height: 15vh;
   margin-left: 450px;
    margin-top: 60px;
    padding: 2vh;
    font-size: 130%;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}
.btn{
    height: 60px;
    margin-left: 450px;
    margin-top: 15px;
    background-color:rgb(227, 227, 64) ;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}

#txt{
    font-weight: bolder;
    margin-left: 450px;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}

#output{
    border: 2px solid black;
    width: 35%;
    display: block;
    height: 10vh;
    margin-left: 450px;
    margin-top: 5px;
    padding: 1vh;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}

.footer{
    background-color:rgb(227, 227, 64);
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Shadows Into Light', cursive;  
}


